//Colors
$yellow  :   #ffd400;
$yellow-2:   #fece03;
$grey    :   #aeaeae;
$green   :   #00a651;
$green2  :   #007236;
$green3  :   #41c37c;
$pink    :   #d70080;
$purple  :   #731574;
$white   :   #ffffff;