//Fonts
@import url(https://use.typekit.net/utt4nlh.css);

//Colors
@import 'client_colors.scss';

//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
//Mixins Vertical-align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
//Mixins Placeholder
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
@mixin btn-default-client {
	color: $grey;
	border: 1px solid $grey;
	padding: 6px 30px;
	margin: 10px 0 50px;
	&:hover {
		color: $yellow;
		border-color: $yellow;
	}
}
//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  font-size: 0.9rem;
  color: $purple !important;
  font-weight: 700;	   
}
::-moz-placeholder { /* Firefox 19+ */  
  font-size: 0.9rem;
  color: $purple !important;
  font-weight: 700;	
}
:-ms-input-placeholder { /* IE 10+ */  
  font-size: 0.9rem;
  color: $purple !important;
  font-weight: 700;	
}
:-moz-placeholder { /* Firefox 18- */  
  font-size: 0.9rem;
  color: $purple !important;
  font-weight: 700;	
}

*, html, body {
	font-family: abadi, sans-serif !important;
}

// Nav
.navClient {
	padding: 0 1rem;
	transition: 0.2s;
	.navbar-brand {
		margin-left: 26rem !important;
		img {
		    height: 160px;
			padding-top: 1.0rem;
		}
	}
	.navbar-nav {
		li {
			.nav-link {
				color: $purple;
				font-weight: 700;
				&:hover {
					color: $green;
					transition: 0.3s;				
				}
			}
		}
	}	
}
.fixClient {
	position: fixed;
	background: $yellow !important;
	width: 100%;
	z-index: 9;
	top: 0;
	left: 0;
	transition: 0.3s;
	box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);  

	.navbar-brand {
		margin-left: 0 !important;
		img {
			height: 50px;
			padding-top: 0.2rem;
		}
	}      
}
// Carousel
.carousel-indicators {
	li {
		background-color: rgba(254,215,0,0.4);
		&.active {
			background-color: $yellow;
		}
	}
}
// Sections
section {
	margin: 100px 0;
}

//mixin produtos
#mixin-produtos {
	margin-top: 0;
	.bgMixin {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
		margin-top: -50px;
		padding: 4.5rem 3.5rem 8.0rem 3.5rem;
		background-image: -moz-radial-gradient( 22% 55%, circle closest-side, rgb(0,255,162) 0%, rgb(0,166,81) 100%);
		background-image: -webkit-radial-gradient( 22% 55%, circle closest-side, rgb(0,255,162) 0%, rgb(0,166,81) 100%);
		background-image: -ms-radial-gradient( 22% 55%, circle closest-side, rgb(0,255,162) 0%, rgb(0,166,81) 100%);

		.imgProd {
			width: 60%;
			text-align: center;
		}
		.infoProd {
			width: 40%;
		}
		h3 {
			color: $purple;
			text-transform: uppercase;
			font-weight: 800;
		}
		p {
			color: $white;
			font-weight: 700;
		}
		.bgFolhas {
			position: absolute;
			width: 100%;
			height: 220px;
			left: 0;
			bottom: 0;

			background: url('../images/folhas-ap-multiply.png') center -24px no-repeat;

			mix-blend-mode: multiply;
		}
	}
	.produtos {
		text-align: center;
		margin-top: 100px;
		img {
			height: 200px;
		}
		.nameProd {
			color: $purple;
			margin-bottom: 1.5rem;
			font-weight: 800;
			span {
				display: block;
			}
		}
	}
}

//Saores
#sabores {
	background: $yellow url('../images/bg-sabor.jpg') center center no-repeat;
	background-size: cover;
	padding: 4.0rem 0 0;
	margin-bottom: 0;
	.sabor {
		display: flex;
		margin-bottom: 5.0rem;
		padding-bottom: 5.0rem;
		.space {
			width: 40%;
		}
		&.limao {
			margin-top: 100px;
			background: url('../images/limao-multiplay.png');
			background-repeat: no-repeat;
			background-size: 200px auto;
			background-position: 60px 25px;

			mix-blend-mode: multiply;
		}
		&.acai {
			background: url('../images/acai-multiplay.png');
			background-repeat: no-repeat;
			background-size: 220px auto;
			background-position: 20px 30px;

			mix-blend-mode: multiply;
		}
		&.guarana {			
			background: url('../images/guarana-multiplay.png');
			background-repeat: no-repeat;
			background-size: 200px auto;
			background-position: 50px 55px;

			mix-blend-mode: multiply;
		}
		&.gengibre {
			margin-top: 100px;	
			background: url('../images/gengibre-multiplay.png');
			background-repeat: no-repeat;
			background-size: 200px auto;
			background-position: 20px 25px;

			mix-blend-mode: multiply;
		}
		.info {
			width: 60%;
			.nameFruit {
				color: $green2;
				font-weight: 800;
				mix-blend-mode: normal !important;
			}
			p {
				color: $purple;
				font-weight: 700;
			}
		}
	}
}

.btClient,
.bt-send {
	background: $green;
	color: $white !important;
	transition: 0.3s;
	font-weight: 200;
	font-style: italic;
	&:hover {
		color: $white;
		background: $purple !important;
		transition: 0.3s;
	}
}

//Pontos de Venda
#map {
	padding: 0 !important;
	margin: 0  0 50px 0!important;	
	iframe {
		border: 0;
		width: 100%;
	}
}
// Fale Conosco
#fale_conosco {
	h2 {
		color: $purple;
		text-transform: uppercase;
		font-weight: 800;
	}	
	input {
	  background-color: $yellow;
  	  color: $purple;	
	}
	textarea {
		height: 145px !important;
		background-color: $yellow;
  		color: $purple;
	}
	.bt-send {
		float: right;
		padding: 6px 30px; 
		margin-right: 15px;		
		font-style: normal;
	}
	#retorno {
		padding-left: 15px;
		small {
			padding-left: 10px;
		}
	}
	#resposta {		
		text-align: center;
		.badge {
			margin: 0 5px !important;
		}
	}
	.success {
		background: #94c39f;
		color: #2c6149;
		padding: 30px 50px;
	}
}

// Footer
footer {
	color: $purple;	
	a {
		color: $purple;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

// Modal 
.ekko-lightbox {
	background-color: rgba($yellow,0.8);
	.modal-header {
	    display: flex;
	    justify-content: flex-end;
	    width: 100%;
	    border: 0;
	    padding: 0 !important;
	    margin: 0 !important;
	    border-radius: 0;
	    line-height: 0;
	    .modal-title { display: none !important }
	    .close {
	    	background: $green;
	    	opacity: 1;
	    	width: 50px;
	    	height: 50px;
	    	padding: 0 !important;
	    	margin:  0 !important;
	    	font-size: 2.9rem;
	    	color: $white;
	    	span {
	    		margin-top: -3px;
	    	}
	    }
	}
	.modal-body {}
	.ekko-lightbox-nav-overlay {
		top: 50px;
		height: 85%;
		a {
			color: $green;
		}
	}
}
.modal-content {
	border-radius: 0;
	border: 1px solid $yellow-2;
	background-color: $yellow;
}
.bt_jt {
	position: absolute;
	right: 88px; 
	bottom: 50px; 
	width: 510px; 
	height: 50px; 	
}

//Media Queries
@import 'client_style_queries.scss';